.form-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

select,
input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

.thumbnail-preview {
  width: 100%;
  height: 300px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #999;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #218838;
}

#submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#submit-btn:hover:not(:disabled) {
  background-color: #218838;
}

#save-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#save-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#save-btn:hover:not(:disabled) {
  background-color: #0056b3;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.share-btn {
  padding: 10px;
  background-color: #59c5c9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  width: 100%;
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background-color: #dc3545 !important;
}

.delete-btn:hover {
  background-color: #66111a !important;
}

.share-btn:hover {
  background-color: #0056b3;
}

.image-preview {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}

.image-preview img {
  object-fit: cover;
}

.image-preview.thumbnail img {
  border: 3px solid green !important;
  outline-offset: 5px;
}

.image-preview.map img {
  border: 3px solid blue !important;
  outline-offset: 5px;
}

.image-preview .buttons {
  display: none;
  /* Ensure this is set to hide by default */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.image-preview:hover .buttons,
.image-preview:focus-within .buttons {
  display: flex;
  /* Show buttons only on hover or focus */
}

.image-preview button {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
}

.image-preview button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.image-preview.thumbnail img {
  border: 3px solid green !important;
  outline-offset: 5px;
}

.image-preview.map img {
  border: 3px solid blue !important;
  outline-offset: 5px;
}

.map-img-btn {
  border: 2px solid blue !important;
  outline-offset: 5px;
}

.map-img-btn:hover {
  background-color: #007bff !important;
}

.thumbnail-img-btn {
  border: 2px solid green !important;
  outline-offset: 5px;
}

.thumbnail-img-btn:hover {
  background-color: #28a745 !important;
}

.delete-img-btn {
  border: 2px solid red !important;
  outline-offset: 5px;
}

.delete-img-btn:hover {
  background-color: #dc3545 !important;
}

.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.error {
  color: red;
  font-size: 12px;
}

.hide {
  display: none;
}

.reject-warning {
  border: red 5px solid;
  background-color: lightcoral;
  padding: 10px;
  font-size: 14px;
}

.reject-warning p {
  color: black;
  font-weight: bold;
}