.form-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.media-item {
  background-color: #ddd;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #999;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;
}

.media-item img {
  max-width: 50%;
}

.submission-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.vote-btn {
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.admin-view {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.admin-view p {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.admin-controls {
  display: flex;
  padding-top: 10px;
}

.admin-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.share-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.share-btn:hover {
  background-color: #0056b3;
}

.textBox {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  cursor: default;
}