.form-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.submission-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 4px;
  font-size: 14px;
  cursor: default;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: default;
}

.media-item {
  background-color: #ddd;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #999;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;
}

.media-item img {
  max-width: 50%;
  height: auto;
  display: block;
}

button {
  padding: 12px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.revert-status-btn {
  background-color: #ffc107;
}

button:hover {
  background-color: #218838;
}

.delete-btn {
  width: 100%;
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.share-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.share-btn:hover {
  background-color: #0056b3;
}

.hide {
  display: none;
}